<h1>Simple State Demo </h1>

<p>A simple state demo to display the shared state across three components within the same Rails view</p>

<!-- Please refer to the application.js. 
The components are imported at app/packs/application.js -->
